<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<h2>View files</h2>
<input type="text" readonly th:value="*{tags}"><br/>
<!--<tr th:each="i : ${#numbers.sequence(0,result.size()-1)}">-->
<!--    Image: <img th:src="*{'data:image/png;base64,'+result.get(i)}" alt="myfile" />-->
<!--</tr>-->

<a th:href="*{'/api/mongo/document-master/large/download/'+url}"><p th:text="${url}"></p></a>
<p th:text="${inputStream}"></p>
</body>
</html>